<div class="footer-wrapper">
    <div class="container">
      <div class="logo-and-directory">
        <img class="logo" src="assets/cannaos-logo.png" alt="CannaOS Logo" />
  
        <div class="footer-cta">
            <h3>Ready to see CannaOS in action?</h3>
            <a href="#demo" class="cta-button">Book a Demo</a>
          </div>
          
        <div class="directory">
          <!-- CannaOS Navigation -->
          <div class="directory-section">
            <div class="section-header">CannaOS</div>
            <div class="list">
              <div class="list-item"><a class="text-white text-decoration-none" href="#features">Mobile App</a></div>
              <div class="list-item"><a class="text-white text-decoration-none" href="#rewards">Rewards Program</a></div>
              <div class="list-item"><a class="text-white text-decoration-none" href="#ecommerce">eCommerce</a></div>
              <div class="list-item"><a class="text-white text-decoration-none" href="#kiosk">In-Store Kiosk</a></div>
            </div>
          </div>
  
          <!-- Support -->
          <div class="directory-section">
            <div class="section-header">Support</div>
            <div class="list">
              <div class="list-item"><a class="text-white text-decoration-none" target="_blank" href="https://storage.googleapis.com/the-website-guys/Files/Privacy%20Policy.pdf">Privacy Policy</a></div>
              <div class="list-item"><a class="text-white text-decoration-none" target="_blank" href="https://storage.googleapis.com/the-website-guys/Files/Terms%20of%20Service.pdf">Terms of Service</a></div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="copyright-and-socials">
        <div class="copyright">© 2024 The Website Guys, LLC</div>
        <div class="socials">
          <div class="social-icon"><a target="_blank" href="https://www.instagram.com/theofficialwebsiteguys/" class="icon-link"><i class="fa-brands fa-instagram"></i></a></div>
          <div class="social-icon"><a target="_blank" href="https://www.facebook.com/profile.php?id=61556389359855" class="icon-link"><i class="fa-brands fa-facebook-f"></i></a></div>
          <div class="social-icon"><a target="_blank" href="https://www.youtube.com/@theofficialwebsiteguys" class="icon-link"><i class="fa-brands fa-youtube"></i></a></div>
          <div class="social-icon"><a target="_blank" href="https://x.com/thewebsiteguys_" class="icon-link"><i class="fa-brands fa-twitter"></i></a></div>
          <div class="social-icon"><a target="_blank" href="https://www.tiktok.com/@theofficialwebsiteguys" class="icon-link"><i class="fa-brands fa-tiktok"></i></a></div>
        </div>
      </div>
    </div>
  </div>
  