<div class="footer-wrapper">
    <div class="container">
        <div class="logo-and-directory">
            <img class="logo" src="assets/cannaos-logo.png" alt="">
            <div class="directory">
                <div class="directory-section">
                    <div class="section-header">CannaOS</div>
                    <div class="list">
                        <!-- <div class="list-item"><a class="text-white text-decoration-none" routerLink="/login">Login</a></div>
                        <div class="list-item"><a class="text-white text-decoration-none" routerLink="/sign-up">Sign Up</a></div> -->
                        <div class="list-item"><a class="text-white text-decoration-none" routerLink="/contact">Link</a></div>
                        <div class="list-item"><a class="text-white text-decoration-none" routerLink="/mission">Link</a></div>
                        <div class="list-item"><a class="text-white text-decoration-none" routerLink="/pricing">Link</a></div>
                    </div>
                </div>
                <div class="directory-section">
                    <div class="section-header">Products</div>
                    <div class="list">
                        <div class="list-item"><a class="text-white text-decoration-none" routerLink="/products/websites">Link</a></div>
                        <div class="list-item"><a class="text-white text-decoration-none" routerLink="/products/seo-marketing">Link</a></div>
                        <div class="list-item"><a class="text-white text-decoration-none" routerLink="/products/development">Link</a></div>
                    </div>
                </div>
                <div class="directory-section">
                    <div class="section-header">Support</div>
                    <div class="list">
                        <div class="list-item"><a class="text-white text-decoration-none" target="_blank" href="https://storage.googleapis.com/the-website-guys/Files/Privacy%20Policy.pdf">Privacy Policy</a></div>
                        <div class="list-item"><a class="text-white text-decoration-none" target="_blank" href="https://storage.googleapis.com/the-website-guys/Files/Terms%20of%20Service.pdf">Terms of Service</a></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="copyright-and-socials">
            <div class="copyright">© 2024 The Website Guys, LLC</div>
            <div class="socials">
                <div class="social-icon facebook"><a target="_blank" href="https://www.instagram.com/theofficialwebsiteguys/" class="icon-link"><i class="fa-brands fa-instagram"></i></a></div>
                <div class="social-icon instagram"><a target="_blank" href="https://www.facebook.com/profile.php?id=61556389359855" class="icon-link"><i class="fa-brands fa-facebook-f"></i></a></div>
                <div class="social-icon youtube"><a target="_blank" href="https://www.youtube.com/@theofficialwebsiteguys" class="icon-link"><i class="fa-brands fa-youtube"></i></a></div>
                <div class="social-icon twitter"><a target="_blank" href="https://x.com/thewebsiteguys_" class="icon-link"><i class="fa-brands fa-twitter"></i></a></div>
                <div class="social-icon tiktok"><a target="_blank" href="https://www.tiktok.com/@theofficialwebsiteguys" class="icon-link"><i class="fa-brands fa-tiktok"></i></a></div>
            </div>
        </div>
    </div>
</div>
