@import '../../../styles.scss';

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2rem;
    padding: 4rem 8rem;
    background-color: $background;
  
    .feature-card {
      background: #fff;
      padding: 2rem;
      border-radius: 20px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
      text-align: center;
      transition: transform 0.2s ease;
  
      &:hover {
        transform: translateY(-6px);
      }
  
      img {
        height: 125px;
      }
  
      h3 {
        font-size: 1.25rem;
        margin-bottom: 0.75rem;
        color: $text-dark;
      }
  
      p {
        font-size: 0.95rem;
        color: $secondary;
      }
    }
  }
  